@import url(https://fonts.cdnfonts.com/css/handwriting);

body {
  font-family: 'Handwriting', Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.rules-image {
  height: 250px;
  width: 250px;
}

.subtext {
  text-align: center;
}

.moves {
  display: flex;
  justify-content: center;
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.move-buttons {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-width: 2px;
  border-radius: 5px;
  appearance: none;
  background-color: inherit;
}

#new-game-button {
  cursor: pointer;
  font-family: 'Handwriting', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  appearance: none;
  background-color: inherit;
}

.move-buttons:hover, #new-game-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.move-buttons:active, #new-game-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;

  bottom: 0;
  left: 0;
  
  width: 100%;
}

#footer-signature {
  display: flex;
  justify-content: center;

  gap: 10px;
}

#creator {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 25px;
}

#github-logo {
  height: 30px;
  width: auto;
  transition: transform 0.3s ease;
}

#github-logo:hover {
  transform: scale(1.2) rotate(360deg);
}
