@import url(https://fonts.cdnfonts.com/css/handwriting);

body {
  font-family: 'Handwriting', Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.subtext {
  text-align: center;
}

.rules-image {
  height: 250px;
  width: 250px;
}

.moves {
  display: flex;
  justify-content: center;
  gap: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.move-buttons {
  cursor: pointer;
  /* border: none; */
  margin: 0;
  padding: 0;
  border-radius: 5px;
  appearance: none;
  background-color: inherit;
}

.move-buttons:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.move-buttons:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}